<%- include('partials/header') -%>

    <div class="home">

    <h1>Home</h1>

   <a href="/register" class="register"> <h3>Register</h3> </a>

    
    <form action="/login" method="POST">
        <h2>Login</h2>
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="password" id="" placeholder="Password">
        <input type="submit" value="Sign In">
    </form>

    </div>
    
    
</body>
</html>